/* master */
body {
	background: #141414;
	color: #fff;=
}
::selection {
	background: #fff;
	color: #000;
}
a, a:visited {
	transition: all 0.3s ease;
	color: #fff;
}
a:hover, a:active, a:focus {
	transition: all 0.3s ease;
	color: #c33;
}

/* ------------------------ */

#leftnav {
	display: inline-block;
	float: left;
	background: #0A0A0A;
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 2;
}

.links {
	font-size: 1.7em;
	margin: 0 auto;
	text-align: center;
	margin-top: 200px;
}
.links > div {
	margin-top: 40px;
}


#topnav {
	float: right;
	display: block;
	width: 100px;
	background: #0A0A0A;
	height: 150px;
	width: 85%;
	margin-top: -50px;
	margin-bottom: 50px;
}
h1 {
	animation: animIn 1s 0.5s ease forwards;
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-top: 90px;
	margin-right: 100px;
	font-size: 2.7em;
	opacity: 0;
}

/* --------------------------- */

#main {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 650px;
	padding-left: 100px;
}
.iod1 {
	animation: animIn 1s 1s ease forwards;
	width: 100%;
	opacity: 0;
}

.wes {
	animation: animIn 1s 2s ease forwards;
	font-size: 0.9em;
	margin-top: 20px;
	opacity: 0;
}

/* -------------------------------- */

#cast {
	display: block;
	margin: 0 auto !important;
	text-align: center;
	width: 600px;
}


.cast {
	display: inline-block;
	width: 500px;
	height: 160px;
	margin-top: 10px;
	background: rgba(10,10,10,0.5);
}
.cast_info {
	font-size: 1.4em;
	margin-top: 45px;
	text-align: center;
	font-weight: bold;
}


.imgone, .imgtwo {
	width: 25%;
	margin-top: 10px;
}

.imgone {
	float: left;
}
.imgtwo {
	float: right;
}


.atari {
	animation: animIn 0.5s 1s ease forwards;
	opacity: 0;
}
.chief {
	animation: animIn 0.5s 1.2s ease forwards;
	opacity: 0;
}
.spots {
	animation: animIn 0.5s 1.4s ease forwards;
	opacity: 0;
}
.rex {
	animation: animIn 0.5s 1.6s ease forwards;
	opacity: 0;
}
.king {
	animation: animIn 0.5s 1.8s ease forwards;
	opacity: 0;
}
.duke {
	animation: animIn 0.5s 2s ease forwards;
	opacity: 0;
}
.boss {
	animation: animIn 0.5s 2.2s ease forwards;
	opacity: 0;
}
.kobayashi {
	animation: animIn 0.5s 2.4s ease forwards;
	opacity: 0;
}
.domo {
	animation: animIn 0.5s 2.6s ease forwards;
	opacity: 0;
}
.tracy {
	animation: animIn 0.5s 2.8s ease forwards;
	opacity: 0;
}
.nutmeg {
	animation: animIn 0.5s 3s ease forwards;
	opacity: 0;
}
.jupiter {
	animation: animIn 0.5s 3.2s ease forwards;
	opacity: 0;
}
.oracle {
	animation: animIn 0.5s 3.4s ease forwards;
	opacity: 0;
}

.narrator {
	margin-bottom: 100px;
	animation: animIn 0.5s 3.6s ease forwards;
	opacity: 0;
}

/* --------------------------- */

#storyline {
	font-size: 1.2em;
	margin-left: 300px;
	width: 880px;
}
.bottom {
	font-size: 1.1em;
	color: lightgray;
	text-align: center;
	margin-left: -450px;
	margin-top: 20px;
	margin-bottom: 50px;
	animation: animIn 1s 2s ease forwards;
	opacity: 0;
}

	
/* --------------------------- */

@keyframes animIn {
	0% {
		transform: translateX(90px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes animIn2 {
	0% {
		transform: translateX(-90px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}